#featuredSlidercon{
    width: 1300px;
    height: 440px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
}

#featurehead{
    width: 1200px;
    height: 60px;
    margin: 0 auto;  
    position: absolute;
    left: 35px;
    
}
#featurehead > #featureTitle{
    width: 780px;
    height: 26px;
    font-size: 28px;
    color: white;
    margin-top:25px;
}
#featurehead > #featureSubTitle{
    width: 780px;
    height: 28px;
    font-size: 20px;
    color: #cccccc;
    margin-top: 3px;

}
#featurehead > #featureButton{
    width: 105px;
    height: 32px;
    background-color: #cccccc;
    border-radius: 3px;   
    position: absolute;
    font-size: 18px;
    font-weight: 900;
    right: 0; 
    top: 30px;
    text-align: center;
    align-content: center;
}
#featurehead > #featureButton:hover{
    cursor: pointer;
    background-color: white;
}
#featuredSlider{
    width: 400%;
    height: 246px;
    display: flex;
    gap: 29px;
    position: absolute;
    top: 100px;
    left: -10px;
    transition: 0.5s;
}
#featuredSlider > div:first-child{
    margin-left: 30px;
}

#featuredSlider > .featureGame{
    width: 400px;
    height: 225px;
    position: relative
}
#featuredSlider > .featureGame > img{
    width: 100%;
}

#featuregameleft{
    left: 580px;
    bottom: 20px;
}
#featuregameright{
    right: 580px;
    bottom: 20px;
}

.featurePriceCon{
    width: 180px;
    position: absolute;
    height: 25px;
    right: -18px;
    bottom: -29px;
    display: flex;
}

