/* header top */
#headertop{
    display: flex;
    height: 104px;
}
#profileIcon{
    position: absolute;
    color: white;
    top: 48px;
    left: 20px;    
}
#profileIcon:hover > img{
    cursor: pointer;
    width: 42px;
    height: 42px;
}
#profileIcon > img{
    filter: drop-shadow(0 0 0 red);
    width: 40px;
    height: 40px;
}
#headertop > #steamicon{
    width: 176px;
    font-size: 27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
    color: #bab9b6;
    margin-left: 90px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#steamicon:hover{
    cursor: pointer;
}
#steamicon > img{
    width: 45px;
    height: 45px;
}
#headertop > #nav-container{
    font-size: 17px;
    color: #dcdede;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 30px;
    margin-left: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navitems{
    text-align: center;
    align-content: center;
    height: 22px;
    cursor: pointer;
}

.navitemsClick{
    border-bottom: 2px solid #198bd6;
    color:#198bd6;
    
}
#nav-container > #store{
width: 50px;
}
#nav-container > #community{
width:110px;
margin-left: 10px;
}
#nav-container > #about{
width: 70px;
}
#nav-container > #support{
width: 87px;
}
#headertop > #action-menu{
    display: flex;
    align-items: center;
    position: absolute;
    right: 100px;
    top: 10px;
    color: #bab9b6;
    font-size: 14px;
    cursor: pointer;
}
#action-menu > #installbut > button{
    height: 24px;
    width: 100px;
    white-space:nowrap; 
    color: white;
    background-color:#5c7e10;
    margin-top: 0px;
    border: none;
    cursor: pointer;
}
#action-menu > #login{
    width: 34px;
    margin-left: 10px;
    border-right: 1px solid #bab9b6;
}
#action-menu > #language{
    width: 70px;
    margin-left: 10px;
}
/* header bottom */
#headerbot{
    height: 46px;
    display: flex;
    background-color: rgba(32, 51, 66);
    font-family: labrador;
}
#headerbot > #browse-menu{
    display: flex;
    align-items: center;
    width: 592px;
    margin-left: 100px;
    color: white;
    font-size: 18px;
}
#browse-menu > .browse-Items{
    cursor: pointer;
}
#browse-menu > div > img{
    width: 10px;
    color: white;
}
#browse-menu > div:nth-child(1){
    width: 83px;
}
#browse-menu > div:nth-child(2){
    width: 152px;
}
#browse-menu > div:nth-child(3){
    width: 104px;
}
#browse-menu > div:nth-child(4){
    width: 117px;
}
#browse-menu > div:nth-child(5){
    width: 138px;
}
#search-container{
    width: 480px;
    height: 34px;
    display: flex;
    position: absolute;
    right: 10px;
    margin-top: 5px;
}
#search-container > #search-icon{
    width:34px;
    background-color: #1a9fff;
    align-content: center;
    text-align: center;
}
#search-container > #search-icon > img{
width: 18px;
background-color: #1a9fff;
transition: 0.2s;
margin-top: 2px;
}
#search-container > #search-icon:hover > img{
    width: 20px;
}
#search-container > #search-box > input{
    width: 446px;
    height: 34px;
    color: white;
    background-color:#445059;
    font-family: "Motiva Sans",Arial,sans-serif;    
    border-radius: 2px 0px 0px 2px;
    border: 1px solid #ffffff24;
    text-indent: 5px;
}

#search-container > #search-box > input::placeholder{
    color: white;
}
#search-container > #search-box > input:focus{
    outline: none;
}
#searchResult{
    width: 140%;
    position: absolute;
    max-height: 600px;
    top: 40px;
    right: 0;
    overflow: auto;
    /* border: 1px solid red; */
    z-index: 1;
    background-color:#3e4453;
}
#searchResult > .searchResultTitle{
    margin-left:18px;
    margin-top: 8px;
    color: #cccccc;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}
#searchResult > #searchItems{
    width: 95%;
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    align-items: center;
    background-color: #4d5665;
}
#searchResult > #searchItems:hover{
    background-color: #718094;
}
#searchItems > .searchImage{
    width: 30%;
    height: 90px;
}
#searchItems  > .SearchgameName{
    color: white;
    margin-left: 20px;
    font-size: 20px;
}
/* responsive header */

@media screen and (max-width:1200px){   
#headertop > #action-menu{
    right: 0px;
}
#headertop > #steamicon{
    margin-left: 75px;
}
#headerbot > #browse-menu{
    width: 540px;
    margin-left: 90px;
    
}
#search-container{
    width: 380px;
    right: -55px;
}
#search-container > #search-box > input{
    width: 285px;
}
}
@media screen and (max-width:1000px){   
#headertop > #action-menu{
    right: 0px;
}
#headertop > #steamicon{
    width: 100px;
    font-size: 18px;
    margin-left: 50px;
}
#steamicon > img{
    width: 30px;
    height: 30px;
}
#headerbot > #browse-menu{
    width: 450px;
    margin-left: 50px;
    font-size: 15px;
}
#browse-menu > div > img{
    width: 8px;
}

#search-container{
    height: 30px;
    margin-top: 7px;
    width: 300;
    right: -110px;
}
#search-container > #search-icon > img{
margin-top: 4px;
}
#search-container > #search-box > input{
    width:230px;
    height: 30px;
}


}
@media screen and (max-width:800px){
    
#search-container{
    display: none;
}
#headertop > #action-menu{
    display: none;
}
#headertop > #steamicon{
    width: 70px;
    font-size: 15px;
    margin-left: 60px;
}
#steamicon > img{
    width: 30px;
    height: 30px;
}
#headertop > #nav-container{
    gap: 0px;
}
.navitems{
    font-size: 15px;
    height: 20px;
}
}